body{
	margin: 0;
	font-size: 20px;
	line-height: 25px;
	font-family: ;
}

header{
	background-color: mediumslateblue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	 font-family: "Poetsen One", sans-serif;

}

header h1{
	color: white;
	font-size: 50px;

}

header img{
	border-radius: 80px;
	width: 300px;
	border: 10px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: darkblue;
	margin: 40px 0 10px;
}

a{
	color: darkblue;
}
a:hover{
	color: white;
	background-color: violet;
}

footer{
	background-color: mediumslateblue;
	text-align: center;
	padding: 30px;
}
footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}